extends layout

block content
  nav
    each defs, word in dict 
      a(href="#"+word)= word

  main
    div(class="search-bar")
      input(type="text", placeholder="Search, but need to change text color", value="IN-PROGRESS... AAAAAAAAAAAA")
      button Search
    
    h1= dictLength

    each defs, word in dict
      div.definition(id=word)
        h1= word 
        each def, key in defs
          if key == "note" || key == "example"
            i= key
            div(style="border-color: var(--color-red)")
              p= def
          else if key == 'img'
            img(src= def)
          else
            i= key 
            div
              p= def
          